/* Estilos del menú */

/* Header: menú fijo */
.header {
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Se asegura que el header quede por encima de otros elementos */
  }
  
  .title-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo {
    height: 50px; /* Ajusta según el tamaño deseado */
  }
  
  /* Navegación */
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #bfa06a; /* Acento elegante */
  }
  
  /* Botón de menú hamburguesa */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  /* Botón de cambio de idioma */
  .language-switcher {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  
  #language-btn {
    background: #bfa06a;
    color: white;
    border: none;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  #language-btn:hover {
    background: #a68d5c;
  }
  
  /* Estilos responsive para el menú */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      background: white;
      position: absolute;
      top: 5rem; /* Ajusta según la altura del header */
      left: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .nav-links a {
      color: #2c3e50;
      padding: 10px;
      display: block;
    }
  
    .nav-links a:hover {
      background-color: #bfa06a;
      color: white;
    }
  }