.footer {
    background-color: #151e27;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #066ab8;
  }
  .fa-phone {
    color: red;
  }
  
  .fa-calendar-days,.fa-envelope {
    color: #0290da;
  }
  .fa-balance-scale,.fa-lock,.fa-cookie,.fa-scroll{
    color:#a68d5c;
  }