<!-- Encabezado -->
<header class="header">
    <div class="title-container">
      <img src="../assets/images/eurozona.jpg" alt="Logo de Eurozona" class="logo">
      <h1 class="main-title">International Estate Market</h1>
    </div>
    <button class="menu-toggle" id="menu-toggle">☰</button>
    <ul class="nav-links">
      <li><a href="ofertas.html">Ofertas</a></li>
      <li><a href="demandas.html">Demandas</a></li>
      <li><a href="inmuebles.html">Inmuebles</a></li>
      <li><a href="quienesSomos.html">Quienes Somos</a></li>
      <li><a href="register.html">Registro/Login</a></li>
    </ul>
    <!-- Botón de cambio de idioma -->
    <div class="language-switcher">
      <button id="language-btn">🌍 Español</button>
    </div>
  </header>